@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.menuButton {
  display: flex;
  justify-content: center;
  font-family: 'Seaweed Script', cursive;
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px 100px 25px 100px;
  background-color: white;
  cursor: pointer;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid #259faf;
  border-bottom: 1px solid #259faf;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-family: 'Playfair Display', serif;
}

.menuItem {
  display: flex;
  flex-direction: column;
  padding: 3%;
  border: 2px solid #044553;
  border-radius: 50%;
}

.menuItem__title {
  font-size: 20px;
}

.menuItem__price {
  font-style: italic;
  font-weight: bold;
}

.menuItem__ingridients {
  margin-bottom: 10px;
}

.addToCartButton {
  background-color: #b4d2d3;
  color: #044553;
  padding: 5px;
  cursor: pointer;
  border: 0.5px solid #044553;
  border-radius: 30%;
}

.cart {
  font-family: 'Seaweed Script', cursive;
  margin: 50px;
}

.cart__item {
  display: flex;
  flex-direction: row;
  font-family: 'Playfair Display', serif;
  border-bottom: solid #b4d2d3 0.5px;
}

.cart__list {
  list-style: none;
  gap: 40px;
}

.cart__buttons {
  display: flex;
}

.cart__buttonsMinus {
  background-color: #470000;
  opacity: 0.8;
  color: white;
  border: solid transparent 0.5px;
  border-radius: 50%;
  margin: 5px;
}

.cart__buttonsPlus{
  background-color: #4b4f00;
  opacity: 0.8;
  color: white;
  border: solid transparent 0.5px;
  border-radius: 50%;
  margin: 5px;
}

.cart__buttonsRemove {
  background-color: #152636;
  opacity: 0.8;
  color: white;
  border: solid transparent 0.5px;
  border-radius: 50%;
  margin: 5px;
}

.cart__emptyButton {
  background-color: #b4d2d3;
  border: solid transparent 0.5px;
  font-family: 'Seaweed Script', cursive;
  font-size: large;
  padding: 20px;
  border-radius: 35%;
  margin: 50px;
}